.sidebar {
    width: 240px;
    height: 100vh;
    background-color: #f4f4f4;
    transition: width 0.3s;
  }
  
  .sidebar.collapsed {
    width: 60px;
  }
  
  .sidebar .MuiListItem-root {
    padding-left: 16px;
  }
  
  .sidebar.collapsed .MuiListItem-root {
    justify-content: center;
    padding-left: 0;
  }
  